.logo {

    padding-left: 1.5rem;
    padding-right: 5rem;

    a {
        text-decoration: none;
    }

    img {
        max-width: 10vw;
        height: auto;
    }

}
@media (max-width: 1000px) {
    .title {
    padding-left: 1.5rem;
    padding-right: 2rem;
        h1 {
            font-size: 1.5em;
        } 

    }
}

@media (max-width: 700px) {
    .site-header {
        flex-direction: column;
    }
    .title {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        
        h1 {
            font-size: 1em;
        } 

    }
}

@media (max-width: 400px) {
    .title {

        
        h1 {
            font-size: 0.5em;
        } 

    }
}