body {
    background-color: $background-color;
}


.main {
    min-height: 200vh;
    margin-bottom: auto;
    overflow: auto;
}

li {
    color: $font-color;
}

img,
embed,
object,
video {
    max-width: 100%;
}

