/* 
TYPOGRAPHY
*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

html {
    font-size: 100%;
}

p {
    font-size: $base-font-size;
    margin-bottom: $magic-number;
    color: $font-color;
    font-family: 'Merriweather', serif;
    text-align: justify;

}

h1 {
    font-size: 3em;
    margin-bottom: $magic-number;
    margin-top: $magic-number;
    font-family: 'Roboto', sans-serif;
    color: $font-color;
}

h2 {
    margin-bottom: $magic-number;
    font-family: 'Roboto', sans-serif;
    color: $font-color;
}

body {
    line-height: $base-line-heigh;
}

.main {
    margin-top: $magic-number;
    max-width: 67rem;
    padding-left: 12rem;
    padding-right: 12rem;
    margin: 0 auto;
}

a {
    color: $font-color;
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}
