$font-color: #f0f0f0;
$font-alternative-color: #f0f0f0;
$accent-color: #ee6c4d;
$background-color: #121212;
$background-alternative-color: #332e30;

$base-line-heigh: 1.4;
$base-font-size: 1.1rem;
$magic-number: $base-line-heigh * $base-font-size;
