$font-color: #000;
$font-alternative-color: #c8c8c8;
$accent-color: #ee6c4d;
$background-color: #f3f3f3;
$background-alternative-color: #202d2e;

$base-line-heigh: 1.4;
$base-font-size: 1.1rem;
$magic-number: $base-line-heigh * $base-font-size;
