.header {
    display: flex;
    justify-content: center;

}

.nav {
    li {
        text-transform: uppercase;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        color: $accent-color;
    }

}
