.header, .footer {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
}

.header, .site-header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.title, .logo {
    padding: 3em 3em 3em 0;
    border: 1px solid black;
}

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
    background-color: #000;
}

.footer a {
    color: #222;
}

.footer .social {
    font-size: 2rem;
}

.title * {
    color: #111;
}

.title p {
    font-style: italic;
}

.nav {
    border: 1px solid black;
}

.nav > a {
    background-color: bisque;
}

.nav {
    background-color:aquamarine;
}