<h2>Artiklar</h2>
<ul>
    <li><a href="../portfolio/?technology/css">CSS</a></li>
    <li><a href="../portfolio/?technology/git">GIT</a></li>
    <li><a href="../portfolio/?technology/html">HTML</a></li>
    <li><a href="../portfolio/?technology/javascript">Javascript</a></li>
    <li><a href="../portfolio/?technology/php">PHP</a></li>
    <li><a href="../portfolio/?technology/python">Python</a></li>
    <li><a href="../portfolio/?technology/sqlite">sqlite</a></li>
</ul>